.main-chat
  .main-chat__group-info
    .group-member-name
      .group-member-name__top-space
      .group-member-name__group
        = @group.name
      .group-member-name__bottom-space
      .group-member-name__member
        Member: 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "edit-btn"do
      Edit
  .main-chat__message-list
    - @messages.each do |message|
      .message-box{data: {message: {id: message.id}}}
        .message-box__contributor-date
          .contributor
            = User.find(message.user_id).name
          .date
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .message-box__top-space
        .message-box__content
          -if message.text
            %p.message-box__text
              = message.text
          = image_tag message.image.url if message.image.present?
        .message-box__bottom-space

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .message-form
        .message-form__wrapper
          = f.text_field :text, class: "form-area", placeholder: 'type a message'
          %label.image-icon
            = icon('fa', 'image', class: 'fa-lg') 
            = f.file_field :image
        = f.submit "Send", class: "send-btn"
        

