.side-bar
  .side-bar__user-name
    .top-tems
      .top-tems__name
        - if user_signed_in?
          = current_user.name
        - else
          名前
      .top-tems__icons
        = link_to new_group_path, class: "btn-deco" do
          = icon('far', 'edit', class: 'top-tems__icons--decoration')
          %span<>
        = link_to edit_user_path(current_user), class: "btn-deco" do
          = icon('fas', 'cog', class: 'top-tems__icons--decoration')
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group.id) ,class: "side-bar__group-list--link" do
        .message-group
          .message-group__top-space
          .message-group__group-name
            = group.name
          .message-group__center-space
          .message-group__top-message
            = group.show_last_message
          .message-group__bottom-

